// importing partials
@import "partials/_homepage";
@import "partials/_academic";
@import "partials/_work";
@import "partials/_projects";


// importing fonts 
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Merienda');

// General styling for site(CV)
// styling for Navbar
.navbar{
    background-color: #000000b0;
    padding: 30px;
    border-radius: 5px;

    a{
        padding: 60px;
        color: white;
        font-family: 'Merienda', cursive;
        font-size: 20px;
        text-decoration: none;
        &:hover{
            color: yellow;
        }
    }
}
// styling for headers


//styling for footer
.footer{
    background-color: #000000b0;
    color: white;
    padding: 10px;
    font-family: 'Merienda', cursive;
    border-radius: 5px;
}
//styling for cover section of CV
#home{
    background-image: url("../images/sky.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .cover{
        // padding: 142px;
        h1{
            color:white;
            font-size: 50px;
            font-family: 'Merienda', cursive;
        }
        h2{
            color: white;
            font-family: 'Merienda', cursive;
            font-size: 30px;
        }
        img{
            border: solid black 2px;
            border-radius: 5px;
        }
    }
}

// responsiveness
/* for mobile view */
@media only screen and (min-device-width:1px) and (max-device-width:640px){
    .navbar{
        // background-color: #000000b0;
        // padding: 30px;
        border-radius: 5px;
    
        a{
            // padding: 60px;
            color: white;
            font-family: 'Merienda', cursive;
            // font-size: 20px;
            text-decoration: none;
            &:hover{
                color: yellow;
            }
        }
    }
}