// importing fonts
@import url('https://fonts.googleapis.com/css?family=Merienda');

// styling for academic page
#acc{
    background-image: url("../images/man.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #C9FBFF;
    h1,h2{
        text-align: center;
        color: white;
        font-family: 'Merienda', cursive;
        // font-size: 40px;
    }
}
.grid{
    ul{
        list-style-type: none;
    }
}

.tertiary{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(auto);
    grid-gap: 30px;
    .college{
        grid-column: 1/1;
        grid-row: 1/2;
        padding: 5px;
    }
    .code{
        grid-column: 2/2;
        grid-row: 1/2;
        padding: 5px;
    }
}
.secondary{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(auto);
    grid-gap: 2px;
    .heading2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .school{
        grid-column: 1/1;
        grid-row: 2/3;
    }
}
// responsiveness
/* for mobile view */
@media only screen and (min-device-width:1px) and (max-device-width:640px){
    .navbar{
        background-color: none;
        label {
            color: white;
        }
    }
    h2{
        font-size: 30px;
    }
    .menu{
        display: none; 
        position: absolute;
        width: 35%; 
        a {
          padding: 30px;
          text-decoration: none;
          color: white;
          background-color: rgba(0, 0, 0, 0.51);
          width: 100%;
          display: block;
          text-align: center;
          clear: right;
        }
      }
      #toggle {
        display: none;
      }
      #toggle:checked + .menu {
        display: block;
      }  
      #acc{
        background-image: url("../images/man.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


